@model IEnumerable<EntityFramework.StudentDetails>

@{
    ViewData["Title"] = "List";
}
@section Scripts{ 
<script>


    $(document).ready(function () {
        $(".del").click(function () {
            debugger;
            var id = $(this).attr("dataid");
            if (confirm("Are you sure want to delete")) {
                var post = {
                    "StudentID": id
                };
                $.ajax({
                    type: "Post",
                    url: "/StudValues/Deletes",
                    data: post,
                    success: function () {
                        alert("Deleted");
                    }


                });
            }

            
        });

    });
</script>
}
<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                <a href="" class="del" dataid="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
